@charset "UTF-8";
@import 'global';

*{
    margin: 0;
    padding: 0;
}

header{
    position: relative;
}

button{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

input{
    outline: none;
    border: none;
    padding: .5em 1em;
    font-size: .8em;
}
a.typeLink{
    @extend %link;
    color: $white;
    display: block;
    margin: 0 .25em;
    border: 3px solid $white;
    span{
        text-transform:uppercase;
        font-weight: bold;
    }
    &:hover{
        box-shadow: .5em .5em rgba(#ddd, 0.8);
        span{
            text-shadow: 3px 3px #ddd;
        }
    }
    &.router-link-active{
        box-shadow: .5em .5em rgba(#ddd, 0.4);
        span{
            color: lighten($white, 10);
        }
        &:before{
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            background: rgba(#ddd, 0.3);
            width: 94%;
            height: .5em;
        }
    }
}

li{
    display: inline-block;
}

.scroll {
    scrollbar-face-color: #666;
    scrollbar-track-color: #ddd;
    scrollbar-arrow-color: #fff;
    -webkit-overflow-scrolling: touch;
    &.scrollX{
        overflow-x: scroll;
        overflow-y: hidden;
    }
    &.scrollY{
        overflow-x: hidden;
        overflow-y: scroll;
    }
}

.scroll::-webkit-scrollbar{
    width: 0.4em;
    height: 0.4em;
    cursor: pointer;
}

.scroll::-webkit-scrollbar-thumb{
    background-color: rgba($blue, 0.3);
    border-radius: 16px;
}

.scroll::-webkit-scrollbar-thumb:hover{
    background-color: rgba($blue, 0.6);
}

.scroll::-webkit-scrollbar-track{
    background: rgba($black, 0.2);
    border-radius: 16px;
}

#app{
    @extend %container;
    font-family: Rubik, "Microsoft JhengHei",OpenSans,Helvetica,sans-serif;
    font-size: 22px;
    color: $black;
}

.vertical_center{
    box-sizing: border-box;
    height: 75%;
    padding-top: 25%;
}

.center{
    text-align: center;
}
.homeHeader{
    >div{
        display: inline-block;
        &.logo{
            background-color: $black;
        }
    }
    @media all and (min-width: $pad-media) {
        padding: $boxPadding $boxPadding $boxPadding/1.5 $boxPadding;
        >div{
            vertical-align: middle;
            a.typeLink{
                font-size: .8em;
            }
        }
        .logo{
            width: $boxPadding * 3;
            height: $boxPadding * 3;
        }
        .main_nav{
            margin: 0 $boxPadding;
        }
        .langGroup{
            position: absolute;
            right: $boxPadding;
        }
    }
    @media all and (max-width: $pads-media) {
        padding: $boxPadding/2 $boxPadding/2 $boxPadding/1.5 $boxPadding/2;
        >div{
            vertical-align: middle;
            a.typeLink{
                font-size: .6em;
            }
        }
        .logo{
            width: $boxPadding * 2;
            height: $boxPadding * 2;
        }
        .main_nav{
            margin: 0;
        }
        .langGroup{
            display: none;
        }
    }
}

.components_ctn{
    @extend %windowCenterBox;
    background-color: $black;
    color: $white;
    box-shadow: $boxPadding $boxPadding rgba(221, 221, 221, .5);
    margin: 0 auto $boxPadding*2 auto;
    @media all and (min-width: $pad-media) {
        width: calc(100vw - 7em);
        max-width: 56em;
        // height: calc(100vh - 7em);
        padding: $boxPadding;
    }
    @media all and (max-width: $pads-media) {
        width: calc(100vw - #{$boxPadding});
        padding: $boxPadding/2;
    }
}

.btnGroup{
    font-size: 1em;
    font-weight: bold;
    >button{
        display: inline-block;
        font-size: 1em;
        padding: .5em;
        font-weight: bold;
    }
    &.langGroup button.active{
        text-decoration:line-through;
    } 
}

.actionGroup {
    position: relative;
    button{
        @extend %btnRadius;
        background: darken($black, 7);
        color: darken($skin, 10);
        &:hover{
            color: darken($skin, 5);
        }
    }
    @media all and (min-width: $pad-media) {
        div{
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    @media all and (max-width: $pads-media) {
        div{
            display: inline-block;
        }
    }
}

.btn{
    @extend %btn;
}