@import 'global';
@import 'init';
ul{
    margin: 0.25em 0;
    li{
        position: relative;
        display: block;
        margin-left: 1em;
        font-size: 0.7em;
        line-height: 160%;
        &:before{
            content: '・';
            position: absolute;
            left: -1em;
        }
    }
}

a{
    display: inline-block;
    border: 2px solid $blue;
    color:$blue;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 0.8em;
    &:hover{
        border-color: lighten($blue, 5);
        color:lighten($blue, 5);
    }
}

.content{
    position: relative;
    >div{
        box-sizing: border-box;
        &.title{
            position: absolute;
            width: auto;
            color:$white;
            background-color:darken($grey,10);
            box-shadow: .5em .5em rgba($grey, 0.4);
        }
        .infoBox{
            .info{
                margin-bottom: 1em;
                border: 2px solid darken($skin, 5);
                border-radius: 6px;
                padding: 0.5em 1em;
                text-align: left;
                h6{
                    font-size: 0.9em;
                    color:darken($skin, 10);
                    margin-bottom: 0.5em;
                }
                p{
                    margin-left: 0.25em;
                    font-size: 0.7em;
                    color:darken($skin, 5);
                }
            }
            .desc{
                h6{
                    color:$white;
                }
            }
        }
        .imageBox{
            >div{
                background-repeat: no-repeat;
                background-size: contain;
                &.hu{
                    background-image: url(../../assets/img/hu.jpg);
                }
                &.uthings{
                    background-image: url(../../assets/img/uthings.png);
                }
                &.parking{
                    background-image: url(../../assets/img/parking.png);
                }
                &.orion{
                    background-image: url(../../assets/img/orion.png);
                }
                &.patrol{
                    background-image: url(../../assets/img/patrol.jpg);
                }
                &.path{
                    background-image: url(../../assets/img/path.png);
                }
            }
        }
    }
}
@media all and (min-width: $pc-media) {
    .components_ctn{
        max-width: 46em;
        margin: 1.5em auto;
    }
    .content{
        padding-top: 3em;
        .title{
            top: 0;
            left: -3em;
            padding: 0.25em 0.5em;
        }
    }
    .item{
        margin: 1em 2em;
        >div{
            display: inline-block;
            vertical-align: top;
            &.infoBox{
                width: calc(100% - 17em);
                .info{
                    width: 13em;
                }
                .desc{
                    margin: 1em 1.5em;
                }
            }      
            &.imageBox{
                position: relative;
                width: 16em;
                height: 10em;
                border-radius: 0.3em;
                overflow: hidden;
                >div{
                    width: 100%;
                    height: 100%;
                    background-position: center;
                }
                >a{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    border: none;
                    line-height: 12em;
                    color: transparent;
                    &:hover{
                        color: $white;
                        background-color: rgba($black,0.6);
                    }
                }
            }
        }  
    }
}
@media all and (max-width: $pcs-media) {
    .components_ctn{
        margin: 0 auto;
    }
    .content{
        padding-top: 3em;
    }
    .title{
        top: 0;
        left: 0.2em;
        padding: 0.25em 0.5em;
    }
    .item{
        border-bottom: 1px dashed rgba($skin,0.5);
        padding-bottom: 1em;
        margin-bottom: 1em;
        >div{
            &.infoBox{            
                .info{
                    max-width: 15em;
                    margin: 0 0.25em;
                }
                .desc{
                    margin: 0.5em 0.25em;
                    h6{
                        font-size: 0.8em;
                        margin: 0.5em;
                    }
                }
            }      
            &.imageBox{
                height: 12em;
                margin: auto;
                text-align: right;
                padding: 1em;
                >div{
                    height: 80%;
                    background-position: center right;
                }
                >a{
                    margin-top: 0.5em;
                    padding: 0.25em 0.5em;
                }
            }
        }  
    }
}


