@import 'global';
@import 'init';

.resumePage{
    background-color:transparent;
    box-shadow: none;
    color:$black;
    .content{
        position: relative;
        >div{
            box-sizing: border-box;
            box-shadow: .5em .5em rgba(#ddd, 0.4);
            border-radius: 3px;
            &.title{
                h5{
                    color:lighten($blue, 10);
                }
                h6{
                    font-size: 0.7em;
                }
                p{
                    color:$grey;
                }
            }
            &.info{
                position: relative;
                h6{
                    font-size: 0.75em;
                    margin: 0.5em 0;
                }
                p{
                    text-indent: 2em;
                    margin-bottom: 0.5em;
                }
                .btnzone{
                    text-align: right;
                    >*{
                        width: 90%;
                        margin: 0.5em 0;
                    }
                    a{
                        border-radius: 3px;
                        opacity: 0.6;
                        width: auto;
                        padding: 0.25em 1em;
                        &:hover{
                            opacity: 0.9;
                            background-color: rgba($blue, 0.1);
                        }
                    }
                }
                &:before{
                    content: '';
                    width: 0;
                    height: 100%;
                    position: absolute;
                    left: -5em;
                    top: 4.25em;
                    border-left: 3px dashed rgba(221, 221, 221, .5);
                }
            }
        }
        h6{
            color:$grey;
            font-size: 0.7em;
        }
        p{
            font-size: 0.7em;
            line-height: 180%;
        }
        &:last-child{
            .info:before{
                display: none;
            } 
        }
    }
}

ul{
    margin: 0.25em 0;
    li{
        position: relative;
        display: block;
        margin-left: 1em;
        font-size: 0.7em;
        line-height: 160%;
        &:before{
            content: '・';
            position: absolute;
            left: -1em;
        }
    }
}

a{
    display: inline-block;
    border: 2px solid $blue;
    color:$blue;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 0.8em;
    &:hover{
        border-color: lighten($blue, 5);
        color:lighten($blue, 5);
    }
}

.rightAlign{
    text-align: right;
}
.aboutPage{
    width: calc(100vw - 7em);
    .personalImg{
        position: absolute;
        width: 1rem;
        height: 1rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-color:#ddd;
    }
}

@media all and (min-width: $pad-media) {
    .content{
        margin: 2em auto;
        .title{
            position: absolute;
            z-index: 1;
            width: 10em;
            top: -1em;
            left: -1em;
            padding: 0.5em 1em;
            background-color:rgba($white,0.95);
            h5{
                margin-bottom: 0.5em;
            }
        }
        .info{
            width: calc(100% - 7em);
            padding: 2em 3em 3em 3em;
            margin-left: 8em;         
            margin-bottom: 5em;
            background-color:$white;
            >p{
                width: calc(100% - 10em);
                max-width: 36em;
            }
            .btnzone{
                position: absolute;
                bottom: 1.5em;
                right: 1.5em;
                width: 8em;
            }
        }
    }
}
@media all and (max-width: $pads-media) {
    .content{
        margin: 0em auto 1em auto;
        .title{
            width: 8em;
            margin-bottom: 0.75em;
            padding: 0.25em 0.5em;
            background-color:$white;
        }
        .info{
            background-color:rgba($white,0.85);
            padding: 0.5em 1em;
            >p{
                display: none;
            }
        }
    }
}
