@import 'global';
@import 'init';

.resumePage{
    background-color:transparent;
    box-shadow: none;
    color:$black;
    .content{
        margin: 2em auto;
        position: relative;
        >div{
            box-sizing: border-box;
            box-shadow: .5em .5em rgba(#ddd, 0.4);
            border-radius: 3px;
            &.title{
                position: absolute;
                width: 10em;
                top: -1em;
                left: -1em;
                z-index: 1;
                padding: 0.5em 1em;
                background-color:rgba($white,0.95);
                h5{
                    color:lighten($blue, 10);
                    margin-bottom: 0.5em;
                }
                h6{
                    font-size: 0.7em;
                }
                p{
                    color:$grey;
                }
            }
            &.info{
                position: relative;
                width: calc(100% - 7em);
                padding: 2em 3em 3em 3em;
                margin-left: 8em;         
                margin-bottom: 5em;
                background-color:$white;
                h6{
                    font-size: 0.75em;
                    margin: 0.5em 0;
                }
                p{
                    text-indent: 2em;
                    margin-bottom: 0.5em;
                    max-width: 36em;
                    width: calc(100% - 10em);
                }
                .btnzone{
                    position: absolute;
                    bottom: 1.5em;
                    right: 1.5em;
                    width: 8em;
                    text-align: right;
                    >*{
                        width: 90%;
                        margin: 0.5em 0;
                    }
                    button{
                        @extend %btnNoshadow;
                        background: $grey;
                        color: $white;
                        &:hover{
                            background: darken($grey, 10);
                        }
                    }
                    a{
                        border-radius: 3px;
                        opacity: 0.6;
                        &:hover{
                            opacity: 0.9;
                            background-color: rgba($blue, 0.1);
                        }
                    }
                }
                &:before{
                    content: '';
                    width: 0;
                    height: 100%;
                    position: absolute;
                    left: -5em;
                    top: 4.25em;
                    border-left: 3px dashed rgba(221, 221, 221, .5);
                }
            }
        }
        h6{
            color:$grey;
            font-size: 0.7em;
        }
        p{
            font-size: 0.7em;
            line-height: 180%;
        }
        &:last-child{
            .info:before{
                display: none;
            } 
        }
    }
}



li{
    display: block;
}

a{
    display: inline-block;
    border: 2px solid $blue;
    color:$blue;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 0.8em;
    &:hover{
        border-color: lighten($blue, 5);
        color:lighten($blue, 5);
    }
}

.rightAlign{
    text-align: right;
}
.aboutPage{
    width: calc(100vw - 7em);
    .personalImg{
        position: absolute;
        width: 1rem;
        height: 1rem;
        background-repeat: no-repeat;
        background-size: cover;
        // background-image: url(/src/img/alert.png);
        background-color:#ddd;
    }
}

@media all and (min-width: $pad-media) {
    .aboutPage{
        width: calc(100vw - 18em);
        margin-top: 5vh;
        padding: 1.5em 2em 1em 17em;
        .pageTitle{
            top: 1em;
            left: -2em;
            z-index: 1;
            background-color: $black;
            box-shadow: $boxPadding $boxPadding rgba(221, 221, 221, .5);
        }
        .personalImg{
            width: 15em;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 0;
        }
        .content{
            padding:1em 0;
        }
    }
    a{
        width: auto;
        height: 1.5em;
        line-height: 1.5em;
        padding: 0.25em 0.5em;
    }

}
@media all and (min-width: phone-media) and (max-width: $pads-media) {
    .aboutPage{
        padding: 5em 2em 1em 2em;
        .pageTitle{
            top: 1.5em;
            left: -2em;
            background-color: $grey;
            box-shadow: $boxPadding/2 $boxPadding/2 rgba(221, 221, 221, .1);
        }
        .personalImg{
            width: 30vw;
            height: 30vw;
            top: 0.5em;
            right: -2em;
            box-shadow: $boxPadding/2 $boxPadding/2 rgba(221, 221, 221, .1);
        }
        .content{
            &.about{
                width: calc(100% - 30vw + 3em);
            }

        }
    }
    a{
        width: 2.5em;
        height: 2.5em;
        line-height: 2.5em;
        margin-right: 0.5em;
        border-radius: 50%;
        span{
            display: none;
        }
    }

}
@media all and (max-width: $phones-media) {
    .aboutPage{
        width: 94vw;
        padding: 3em 1em 1em 1em;
        .pageTitle{
            height: 1.5em;
            line-height: 1.5em;
            top: 1em;
            left: 1em;
            background-color: $grey;
            box-shadow: $boxPadding/2 $boxPadding/2 rgba(221, 221, 221, .1);
        }
        .personalImg{
            width: 6em;
            height: 6em;
            bottom: 1em;
            left: 1em;
            box-shadow: $boxPadding/2 $boxPadding/2 rgba(221, 221, 221, .1);
        }
        .content{
            &.education{
                font-size: 0.9em;
            }
            &.contact{
                margin-top: 4em;
            }
        }
    }
    a{
        width: 2.5em;
        height: 2.5em;
        line-height: 2.5em;
        margin-right: 0.5em;
        border-radius: 50%;
        span{
            display: none;
        }
    }

}
