@import 'global';
@import 'init';

h1{
    @extend %text;
    font-size: 1.25em;
}

h4{
    font-size: 2em;
}

h6{
    font-size: 1em;
    margin-bottom: .5em;
}

.sub_nav{
    max-width: 100%;
    white-space: nowrap;
    @media all and (min-width: 800px) {
        position: absolute;
        top: $boxPadding/2;
        right: $boxPadding;
        padding-top: $boxPadding/2;
    }
    @media all and (max-width: 799px) {
        padding: $boxPadding 0 $boxPadding/2 0;
    }
}

.box{
    box-sizing: border-box;
    width: 96%;
    background-color: darken($black, 2);
    >div{
        @extend %container;
    }
    @media all and (min-width: 800px) {
        margin: $boxPadding auto;
        height: calc(100% - 3em);
        box-shadow: 0 0 $boxPadding/2 $boxPadding/4 darken($black, 3);
    }
    @media all and (max-width: 799px) {
        margin: $boxPadding/2 auto;
        height: calc(100% - 5.5em);
        .unitTile{
            display: none;
        }
    }
}

.content{
    @extend %container;
    box-sizing: border-box;
    @media all and (min-width: 800px) {
        padding: $boxPadding;
        > div{
            font-size: 1em;
            display: inline-block;
            vertical-align: top;
        }

    }
    @media all and (max-width: 799px) {
        padding: $boxPadding/4;
        > div{
            position: relative;
            width: 100% !important;
        }
    }
}

a.workLink{
    @extend %link;
    color: $white;
    display: inline-block;
    margin: 0 .5em;
    span{
        position: absolute;
        width: 100%;
        top: -0.75em;
        left: 0;
        font-size: .5em;
        text-align: center;
        color: darken($white, 50);
    }
    &:after{
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: 2px;
        background: $skin;
        transition: 250ms ease-out;
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: scalex(0);
        transform: scalex(0);
    }
    &.router-link-active:after{
        -webkit-transform: scalex(1);
        transform: scalex(1);
    }
}
