@import 'global';
@import 'init';
@import 'settings';

$chartSize: 11em;

.content{
    .leftSlide{
        position: relative;
        width: $chartSize + 2em;
        margin-right: $boxPadding/2;
        .chartBox{
            position: relative;
            width: $chartSize;
            height: $chartSize;
            border-radius: 50%;
            margin: 4vh auto 4vh auto;
            box-shadow: inset 0 0 15px 0px darken($black, 20);
            .chartGauge{
                position: absolute;
                svg{
                    width: 100%;
                    .rail{
                        stroke: darken($black, 5);
                        stroke-width: 20px;
                        fill: none;
                    }
                    .progress {
                        stroke: url(#linearGradient);
                        stroke-width: 21px;
                        stroke-dasharray: 462;
                        stroke-dashoffset: 462;
                        -webkit-transform: translate3d(0, 0, 0);
                        transform: translate3d(0, 0, 0);
                        -webkit-transition: stroke-dashoffset 3s;
                        transition: stroke-dashoffset 3s;
                        -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
                        -moz-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
                        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
                    }
                }
            }
            .circleScreen{
                position: relative;
                width: $chartSize - 1em;
                height: $chartSize - 1em;
                top: 0.5em;
                margin: 0.5em;
                color: $white;
                border-radius: 50%;
                -webkit-font-smoothing: antialiased;
                background: darken($black, 10);
                overflow: hidden;
                -webkit-transition: -webkit-transform 0.1s;
                transition: -webkit-transform 0.1s;
                transition: transform 0.1s;
                transition: transform 0.1s, -webkit-transform 0.1s;
                > div{
                    box-sizing: border-box;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: -100%;
                    text-align: center;
                    padding: 27.5% 0;
                    mix-blend-mode: screen;
                    -webkit-transition: left 450ms cubic-bezier(0.570, 0.660, 0.685, 0.105);
                    -moz-transition: left 450ms cubic-bezier(0.570, 0.660, 0.685, 0.105);
                    -ms-transition: left 450ms cubic-bezier(0.570, 0.660, 0.685, 0.105);
                    -o-transition: left 450ms cubic-bezier(0.570, 0.660, 0.685, 0.105);
                    transition: left 450ms cubic-bezier(0.570, 0.660, 0.685, 0.105);
                    &.active{
                        left: 0px;
                        cursor: pointer;
                    }
                    p{
                        color:rgba($white, 0.5);
                    }
                    h6{
                        margin-top: .25em;
                        color:rgba($skin, 0.75);
                    }
                    &.complete h4{
                        color:$skin;
                    }
                    &.uncompleted h4{
                        color:$blue
                    }
                }
            }
        }
    }
    .rightSlide{
        width: calc(100% - #{$chartSize + 4em});
        @media all and (min-width: 800px) {
            padding: 0 $boxPadding/2;
        }
    }
}

.inputBox{
    position: absolute;
    z-index: 10;
    //width: 100%;
    box-sizing: border-box;
    background: darken($white, 2);
    padding: .5em;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 $boxPadding/2 $boxPadding/4 darken($black, 5);
    transition: all 250ms cubic-bezier(0.570, 0.660, 0.685, 0.105);
    &.open{
        visibility: visible;
        opacity: 1; 
    }
    input{
        width: 80%;
        height: 1em;
        border-radius: 2em;
        margin: .5em auto;
        color: $blue;
    }
    footer{
        width: 100%;
        height: 1.5em;
        padding: .5em 0;
        > button{
            height: 100%;
            line-height: 0;
            font-size: 0.8em;
            color: lighten($blue, 5);
            &:hover{
                color: lighten($blue, 10);
            }
        }
    }
}

.optionGroup{
    text-align: left;
    padding: .25em 1em;
    button,svg{
        font-size: 1em;
        margin-right: .25em;
    }

    .btnLabel{
        @extend %btnRadius;
        padding: .25em;
        margin-right: 1em;
        background: rgba($white, 0.25);
        color: $black;
        cursor: pointer;
        input[type='file']{
            display: none;
        }
    }
    .fileName{
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 9em);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: .8em;
        color:rgba($white, 0.5);
    }
}

.todoGroup{
    box-sizing: border-box;
    margin: $boxPadding/2 0;
    max-height: calc(100vh - 16em);
    li{
        display: block;
        border: 1px dotted darken($black, 7);
        border-top: 1px dotted lighten($black, 5);
        overflow: hidden;
        &.nodata{
            color: rgba($white, 0.25); 
        }
        > div{
            position: relative;
            box-sizing: border-box;
            width: 100%;
            &.dataBox{
                padding: 0.25em 0 0.25em 2em;
                background-color: darken($black, 2);
                z-index: 1;
                h5, p{
                    overflow : hidden;
                    text-overflow : ellipsis;
                    white-space : nowrap;
                    width : calc(100% - 5em);
                    &.text{
                        font-size: 0.65em;
                    }
                }
                button{
                    position: absolute;
                    top: 0;
                    color: rgba($white, 0.25);
                    font-size: 1em;
                    height: 100%;
                    &:nth-child(1){
                        left: .5em;
                        transition: 250ms ease-out;
                        &.check{
                            color: $skin;
                            transform: scale(1.2);
                        }
                    }
                    // &:nth-child(3){
                    //     right: 3.75em;
                    // }
                    &:nth-child(3){
                        right: 2em;
                    }
                    &:nth-child(4){
                        right: 0.5em;
                    }
                }
                .detail span{
                    color: darken($white, 50);
                    font-size: .6em;
                }
            }
            &.collapse{
                text-align: center;
                display: none;
                padding: 0;
                background-color: darken($black, 3);
                margin-top: -8.5em;
                z-index: 0;
                &.show {
                    display: block;
                    margin-top: 0;
                    opacity: 1;
                    visibility: visible;
                }
                >input{

                }
            }
        }

    }
}

.btn.addTodo{
    position: relative;
    width: 100%;
    border: 2px solid $blue;
    color:$blue;
    font-weight: bold;
    &:after{
        content: '-';
        position: absolute;
        color: $blue;
        font-size: 1.75em;
        z-index: 5;
        top: 0;
        right: .5em;
    }
    &.open{
        color:$skin;
        border-color: $skin;
        &:after{
            content: '+';
            color:$skin;
        }
    }
}

.createTodo{
    @extend %btnRadius;
    background-color: lighten($blue, 10);
    color: $white;
    margin: .5em;
    &:hover{
        background-color: $blue;
    }
    &:disabled{
        background-color: #ddd;
        cursor: not-allowed;
    }
}